{:{{root-ns}}.eql/pathom-resolvers {}

 :{{root-ns}}.eql/pathom-parser
 {:resolvers #ig/ref :{{root-ns}}.eql/pathom-resolvers}

 :{{root-ns}}.routes/ring-handler
 {:parser #ig/ref :demo.pathom-api.eql/pathom-parser}

 :{{root-ns}}.jetty/http-server
 {:port 7000
  :handler #ig/ref :{{root-ns}}.routes/ring-handler}}
